@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.Photographs {
	padding: 0 0 4em;
	background: linear-gradient(204deg, #ffffff 10%, #adadad 100%);
}

/* Slick slider customizations: */

.slick-slider div {
	max-height: 90vh;
}

picture img {
	width: max-content !important;
	margin-left: 50%;
	transform: translateX(-50%);
}

.slick-arrow {
	&:before {
		display: none;
	}

	width: auto;
	height: auto;

	opacity: 0.3;
	transition: all 0.15s ease-in-out;

	display: block;
  position: absolute;
  z-index: 1000;
  top:50%;
  transform: translateY(-50%);

	&:hover {
		opacity: 1 !important;
	}
}

.slick-prev {
	left: 20px;
}

.slick-next {
	right: 20px;
}

/* REST (Instagram feed link, and preview) */

@media (max-width: 700px) {
	.top-title a {
		font-size: 15px !important;
	}

	.top-title {
		margin-bottom: 1em;
	}

	.photo-grid {
		width: 90vw !important;
	}
}

.top-title a {
	height: 3.2em;
	margin: 1em 0;
	padding: 1em;
	text-align: center;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 22px;
	background-color: #E0E0E0;
	border-radius: 1em;

	&:hover {
		background-color: darken($color: #E0E0E0, $amount: 10%);
	}

	&:focus {
		background-color: darken($color: #E0E0E0, $amount: 20%);
	}

	img {
		height: 100%;
		transform: translateY(-16%);
	}
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	width: 70vw;
	margin: auto;

	.photo-grid-element {
		overflow: hidden;

		.content-overlay {
			overflow: hidden;
			background: rgba(0, 0, 0, 0.7);
			// position: fixed;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			// opacity: 0;
			-webkit-transition: all 0.4s ease-in-out 0s;
			-moz-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
		}

		&:hover .content-overlay {
			// opacity: 1;
		}
	}

	img {
		width: 100%;
	}
}