$buttonWidth: 30px;
$buttonHeight: 25px;
$buttonColor: darken(#fff, 20%);
$lineThickness: 5px;
$transitionSpeed: 0.25s;
$transitionEasing: ease-in-out;

$tabletWidth: 912px;

$zIndex: 10;
$buttonTop: 25px;

// Demo
.menu-toggle {
  z-index: $zIndex + 1;

  position: fixed;
  display: block;
  width: $buttonWidth;
  height: $buttonHeight;

  top: $buttonTop;
  left: 20px;

  background: transparent;
  border-top: $lineThickness solid;
  border-bottom: $lineThickness solid;

  color: $buttonColor;
  font-size: 0;

  transition: all $transitionSpeed $transitionEasing;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: $lineThickness;

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform $transitionSpeed $transitionEasing;
  }
}

button:hover {
  color: lighten($buttonColor, 15%);
}

button.is-active {
  border-color: transparent;

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

/*menu button styles end here*/

.open-slide {
}

@media (min-width: $tabletWidth) {
  .open-slide {
    display: none;
  }
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  list-style: none;
  line-height: 1.4;

  margin-top: 0;
  padding-top: $buttonTop + 65px;

  z-index: $zIndex;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: black;
  opacity: 0.8;
  overflow-x: hidden;

  transition: 0.5s;

  .navbar-item {
    width: 100%;
    text-align: left;
    padding: 0.5em;

    transition: background-color 0.2s;

    &:hover {
      background-color: darkslateblue;
      cursor: pointer;
    }
  }

  .navbar-link {
    padding: 0 1.4em;
    display: block;
    text-align: left;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $tabletWidth) {
  .Navbar {
    ul {
      flex-direction: row;
      justify-content: center;
      height: auto;
      width: 100%;
      padding: 0;
      li {
        width: auto !important;
        text-align: center !important;
        padding: 1em 0 !important;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.Navbar {
  z-index: 1000;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  position: fixed;

  ul {
    list-style: none;
    line-height: 1.4;
    li {
      text-align: center;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  font-family: "Circular", sans-serif;  
}

@keyframes fader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
